version: '3.8'

services:
  # Database Service (PostgreSQL)
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: devops_db
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
      # Agar aapka SQL file 'init.sql' naam se hai toh ye auto-run hogi
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql 

  # Backend Service (Flask)
  backend:
    build: .
    ports:
      - "5000:5000"
    environment:
      - APP_ENV=Production
      - DATABASE_URL=postgresql://user:password@db:5432/devops_db
    depends_on:
      - db

  # Frontend Service (Nginx se serve karne ke liye)
  frontend:
    image: nginx:alpine
    ports:
      - "5000:5000"
    volumes:
      - ./index.html:/usr/share/nginx/html/index.html:ro
    depends_on:
      - backend

volumes:
  db-data:
