version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: devops_db
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql 

  backend:
    build: .
    ports:
      - "5001:5000" # Change host port to 5001 to avoid conflict
    environment:
      - APP_ENV=Production
      - DATABASE_URL=postgresql://user:password@db:5432/devops_db
    depends_on:
      - db

  frontend:
    image: nginx:alpine
    ports:
      - "80:80" # Standard web port for frontend
    volumes:
      - ./index.html:/usr/share/nginx/html/index.html:ro
    depends_on:
      - backend

volumes:
  db-data:
